<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>world destroyer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B5DCD06D1F1E9557007EE8BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5DCD0811F1E9557007EE8BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5DCD08C1F1E9557007EE8BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
